@import "tailwindcss";

/* global variables */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* Tailwind variables */
@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-950: hsl(292, 42%, 14%);
  --font-sans: var(--font-geist-sans);
}

/* fall back */
body {
  background:
    url("/background-pattern-desktop.svg") no-repeat top -1px center /
      calc(100% + 1px),
    var(--color-purple-100);
  /* background-size: calc(100% + 1px); */
  font-family: Arial, Helvetica, sans-serif;
}
