@import "tailwindcss";

/* global variables */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* Tailwind variables */
@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-950: hsl(292, 42%, 14%);
  --font-sans: var(--font-work-sans);
}

* {
  /* @apply outline outline-blue-300; */
}

/* fall back */
body {
  font-family: var(--font-work-sans), Arial, Helvetica, sans-serif;
  background: url("/background-pattern-mobile.svg") no-repeat top -1px
    left -1px / 101% var(--color-purple-100);
}

@media (min-width: 540px) {
  body {
    background:
      url("/background-pattern-desktop.svg") no-repeat top -1px left -2px /
        calc(100% + 1px),
      var(--color-purple-100);
  }
}
