@import "tailwindcss";

/* global variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-950: hsl(292, 42%, 14%);
  --font-sans: var(--font-geist-sans);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* fall back */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
